@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #111b2b;
  --background-stripes: rgba(10, 17, 28, 40%);
  --spotlight: #2e466f;
  --color-primary: #ffe000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background);
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-arrow {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .btn-arrow::before {
    content: '';
    position: absolute;
    right: calc(100% - 1px);
    top: 0;
    bottom: 0;
    width: 1rem;
    background-color: inherit;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 50%, 0% 0%);
    z-index: 0;
  }

  .btn-arrow::after {
    content: '';
    position: absolute;
    left: calc(100% - 1px);
    top: 0;
    bottom: 0;
    width: calc(1rem + 1px);
    background-color: inherit;
    clip-path: polygon(1px 0%, 100% 50%, 100% 50%, 1px 100%);
    z-index: 0;
  }

  .btn-arrow > * {
    position: relative;
    z-index: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .bg-stripes {
    background-image: linear-gradient(
      -45deg,
      transparent 25%,
      var(--background-stripes) 25%,
      var(--background-stripes) 50%,
      transparent 50%,
      transparent 75%,
      var(--background-stripes) 75%
    );
  }
}
